{% extends "internal_user/base_user.html" %}

{% block main_content%}

<div class="row">
<!-- Lecture tabs begin here -->
<div class="col-md-12">

    <div class="row">

        <div class="col-md-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <form action="." method="POST">
    <label><strong>Enter MSISDN</strong></label>
        <input name="title" class="form-control" type = "text">
        <br/>



        <input class="btn btn-default btn-success" type='submit' value='Fetch Details'>
      </form>

    <!-- Commented temporarily for demo, reason: all marks are in a same line for now, does not look good,
    need to take input of test dates for proper displaying of graphs -->

    <!-- <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Marks
            </div>

            
        </div>
    </div> -->
    <!-- /.row -->
    
</div>

<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <script>
    $(document).ready(function() {
        $('#dataTables').DataTable({
                "iDisplayLength":5,
                "oLanguage": {
                  "sEmptyTable":     "No Lectures Found"
                }
        });
        $('#dataTables2').DataTable({
                "iDisplayLength":5,
                "oLanguage": {
                  "sEmptyTable":     "No Lectures Found"
                }
        });
        $('#dataTables3').DataTable({
                "iDisplayLength":5,
                "oLanguage": {
                  "sEmptyTable":     "No Notices Found"
                }
        });
        $('#dataTables4').DataTable({
                "iDisplayLength":5,
                "oLanguage": {
                  "sEmptyTable":     "No Notices Found"
                }
        });
    });
    </script>
    <script>
    $(document).ready(function() {
        var offset = 0;
      var counter = 5
      var options = {
          series: {
              lines: {
                  show: true
              },
              points: {
                  show: true
              }
          },
          grid: {
              hoverable: true //IMPORTANT! this is needed for tooltip to work
          },
          yaxis: {
              min: 0,
              max: 100,
              axisLabel: 'Marks',
          },
          xaxis: {
              min: (new Date(2000+{{academic_year.year_start}}, 5, 1)).getTime(),
              max: (new Date(2000+{{academic_year.year_end}}, 4, 31)).getTime(),
              mode: "time",
              tickSize: [1, "month"],
              monthNames: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
              tickLength: 10,
              axisLabel: 'Month',
          },
          tooltip: false,
          tooltipOpts: {
              shifts: {
                  x: -60,
                  y: 25
              }
          }
      };


      function showTooltip(x, y, contents) {
       $('<div id="tooltip">' + contents + '</div>').css( {
           position: 'absolute',
           display: 'none',
           top: y + 5,
           left: x + 5,
           border: '1px solid #fdd',
           padding: '2px',
           'background-color': '#fee',
           opacity: 0.80
       }).appendTo("body").fadeIn(200);
   }


      function gd(year, month, day) {
      return new Date(year, month-1, day).getTime();
      }

      {% for k,v in segregated_marks.items %}
      var plotObj_{{k}} = $.plot($("#flot-line-chart-{{k}}"), [{
              data: [
                {% for i in v %}
                  [gd({{i.test_date.year}}, {{i.test_date.month}}, {{i.test_date.day}}), {{i.obtained_marks}}],
                {% endfor %}
              ],
              label: "Marks Obtained"
          }],
          options);

          test_name_{{k}} = [];
          marks_obtained_{{k}} = [];
          marks_total_{{k}} = [];
          dates_{{k}} = [];



          {% for i in v %}
            test_name_{{k}}.push("{{i.test_name}}");
            marks_obtained_{{k}}.push("{{i.obtained_marks}}");
            marks_total_{{k}}.push("{{i.total_marks}}");
            dates_{{k}}.push("{{i.test_date}}");
          {% endfor %}


          var previousPoint = null;
          $("#flot-line-chart-{{k}}").bind("plothover", function (event, pos, item) {
                  if (item) {
                      if (previousPoint != item.dataIndex) {
                          previousPoint = item.dataIndex;

                          $("#tooltip").remove();

                          contents =    "Test: " + test_name_{{k}}[item.dataIndex] + "<br>"
                                      + "Date: " + dates_{{k}}[item.dataIndex] + "<br>"
                                      + "Marks: " + marks_obtained_{{k}}[item.dataIndex] + "/" + marks_total_{{k}}[item.dataIndex];
                          showTooltip(item.pageX, item.pageY,
                                      contents);
                      }
                  }
                  else {
                      $("#tooltip").remove();
                      previousPoint = null;
                  }

          });

      {% endfor %}





    });
    </script>

{% endblock %}